@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ProjectViewModel

@{
    ViewData["Title"] = "Project Dashboard";
}

<h1>Project Dashboard</h1>

<p>
    <a asp-action="Create"> Create New</a>
</p>
<form asp-controller="Project" asp-action="index" method="get">
    <p>
        <select asp-for="Status" asp-items="Model.Statuses">
            <option value="">All</option>
        </select>

        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Status)
            </th>
            <th>
                Start Date
            </th>
            <th>
                Last Updated
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Projects[0].CintResponseId)
            </th>*@
            <th>
                Cint Testing Link
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Projects)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @item.StartDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CintResponseId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CintTestingLink)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
